/* SCREEN 1440px */
@media (max-width: 1600px) {

    /* HOME PAGE - SECTION4 */
    .s4div {
        display: flex;
        gap: 24px;
    }

    .s4img {
        width: 300px;
    }

    .section6 {
        padding: 161px 45px;
    }

    /* FOOTER */
    footer {
        padding: 32px 192px;
    }

    /* ARTWORKS - SECTION2PAGE2 */
    .section2page2 {
        padding: 161px 40px;
    }

    .categorydiv {
        gap: 1009px;
    }

    .allcategory {
        width: 220;
    }

    .cards {
        gap: 60px 80px;
    }

    .imgresponsive {
        width: 400px;
    }

    /* CONTACT - SECTION2PAGE3 */
    .section2page3 {
        padding: 160px 125px;
    }
}

/* LAPTOP */
@media (max-width:1439px) {

    /* HEADER */
    header {
        padding: 26px 120px;
    }

    /* HOME PAGE - SECTION1 */
    .section1 {
        padding: 283px 344px 188px 344px;
    }

    /* HOME PAGE - SECTION2 */
    .section2 {
        padding: 160px 152px;
        flex-wrap: wrap;
    }

    /* HOME PAGE - SECTION3 */
    .upper {
        flex-direction: column;
        gap: 60px;
    }

    .lower {
        flex-direction: row;
        gap: 60px;
    }

    .removes3img {
        display: none;
    }

    .heights3img {
        height: 322px;
    }

    /* HOME PAGE - SECTION4 */
    .s4div {
        flex-wrap: wrap;
        justify-content: center;
    }


    /* ARTWORKS - SECTION2PAGE2 */
    .categorydiv {
        gap: 750px;
    }

    .cards {
        justify-content: center;
    }

    .searchinput {
        width: 490px;
    }
}

/* TABLET 744px*/
@media (max-width: 1150px) {

    /* HEADER */
    header {
        padding: 9px 80px;
    }

    .headerlogo {
        display: flex;
        flex-direction: column;
    }

    .removenav {
        display: none;
    }

    /* HOME PAGE - SECTION1 */
    .section1 {
        padding: 283px 40px 188px 40px;
        background-position: left;
        height: 720px;
    }

    .sectionbutton {
        display: flex;
        width: 275px;
    }

    .sectiontext {
        width: 85%;
        margin-top: 25px;
        margin-bottom: 53px;
    }

    /* HOME PAGE - SECTION4 */
    .arrowclass {
        display: none;
    }

    .divforarrows {
        gap: 0px;
    }

    .section4 {
        padding: 160px 60px;
    }

    .s4div {
        display: flex;
        row-gap: 24px;
        column-gap: 20px;
    }

    .s4img {
        width: 292px;
    }

    .viewmore.draw-border {
        display: inline-flex;
        padding: 15px 32px 14px 31px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: #B53B1B;
        color: white;
        margin-top: 32px;
        border: none;
        cursor: pointer;
        transition: color 0.25s 0.0833333333s;
        position: relative;
    }
    
    .viewmore.draw-border::before,
    .viewmore.draw-border::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: "";
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
    }
    
    .viewmore.draw-border::before {
        border-bottom-width: 4px;
        border-left-width: 4px;
    }
    
    .viewmore.draw-border::after {
        border-top-width: 4px;
        border-right-width: 4px;
    }
    
    .viewmore.draw-border:hover {
        color: #ffffff;
    }
    
    .viewmore.draw-border:hover::before,
    .viewmore.draw-border:hover::after {
        border-color: #ffffff;
        transition: border-color 0s, width 0.25s, height 0.25s;
        width: 100%;
        height: 100%;
    }
    
    .viewmore.draw-border:hover::before {
        transition-delay: 0s, 0s, 0.25s;
    }
    
    .viewmore.draw-border:hover::after {
        transition-delay: 0s, 0.25s, 0s;
    }

    /* HOME PAGE - SECTION5 */
    .section5 {
        padding: 160px 129px;
    }

    /* HOME PAGE - SECTION6 */
    .threedivs {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .s6divs {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .section6 {
        padding: 160px 21px;
    }

    h1 {
        margin-bottom: 25px;
    }

    .question {
        margin-top: 28px;
        margin-bottom: 42px;
    }

    /* FOOTER */
    footer {
        padding: 32px 32px;
    }

    /* ARTWORKS - SECTION1PAGE2 */
    .section1page2 {
        padding: 240px 126px;
    }

    .category {
        width: 170px;
    }

    /* ARTWORKS - SECTION2PAGE2 */
    .section2page2 {
        padding: 94px 22px;
    }

    .searchinput {
        width: 277px;
    }

    .searchbutton {
        width: 200px;
    }

    .arrowdown {
        margin-right: 32px;
    }

    .categorydiv {
        gap: 349px;
    }

    .s2imgremove {
        display: none;
    }

    .imgresponsive {
        width: 330px;
    }

    .cards {
        gap: 80px 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* CONTACT - SECTION2PAGE3 */
    .section1page3 {
        padding: 208px 122px;
    }

    .section2page3 {
        padding: 160px 40px;
    }

    .mapdiv {
        flex-direction: column;
    }

    iframe {
        width: 100%;
        height: 320px;
    }

    .contactdiv {
        padding-left: 40px;
        padding-bottom: 40px;
    }

    /* HAMBURGER MENU */
    .menuremoveandshow {
        display: block;
        width: 17%;
    }

    .icon-1,
    .icon-2,
    .icon-3 {
        position: absolute;
        left: 22%;
        top: 47%;
        width: 18px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        transition: ease-in 0.3s;
    }

    .icon-1 {
        transform: translateY(-8px);
    }

    .icon-3 {
        transform: translateY(8px);
    }

    .hamburger-icon {
        position: absolute;
        height: 32px;
        width: 32px;
        top: 30%;
        z-index: 1000;
        cursor: pointer;
        border-radius: 50%;
        transition: ease-in 0.2s;
    }

    .hamburger-icon:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }

    .icon-1.a {
        transform: rotate(40deg);
    }

    .icon-3.b {
        transform: rotate(-40deg);
    }

    .icon-2.c {
        opacity: 0;
    }

    .hamburgermenu {
        background-color: rgba(181, 59, 27, 1);
        position: absolute;
        top: 0;
        left: -1px;
        margin-top: 96px;
        height: 160px;
        width: 0%;
        z-index: 1;
        transition: ease-in 0.3s;
        overflow: hidden;
    }

    .hamburgermenu-ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px 160px;
    }

    .burgerlinks {
        font-size: 18px;
        color: #fff;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .hamburgermenu.show {
        width: 50%;
        opacity: 1;
    }

    .burgerlinks:hover {
        color: #f7977f;
    }
}

/* PHONE 480px */
@media (max-width: 743px) {

    /* HEADER */
    header {
        padding: 8px 20px;
        height: 96px;
    }

    .headerlogo {
        display: flex;
        flex-direction: column;
    }

    /* HOME PAGE - SECTION1 */
    .section1 {
        padding: 132px 20px 36px 20px;
        height: 400px;
        background-image: url(..//images/Rectangle\ 1091.png);
    }

    h2 {
        width: 391px;
        font-size: 32px;
    }

    .sectionbutton {
        display: flex;
        width: 160px;
    }

    .sectiontext {
        width: 99%;
        margin-top: 8px;
        margin-bottom: 22px;
    }

    /* HOME PAGE - SECTION2 */
    .section2 {
        padding: 64px 57px;
        row-gap: 40px;
        column-gap: 80px;
    }

    .section2 img {
        width: 130px;
        height: 96px;
    }

    .s2figcaption {
        font-size: 16px;
        margin-top: 8px;
    }

    /* HOME PAGE - SECTION3 */
    .section3 {
        gap: 20px;
        padding: 32px 20px;
    }

    .upper {
        gap: 20px;
    }

    .phoneremoves3img {
        display: none;
    }

    .s3img {
        width: 440px;
        height: 240px;
    }

    h3 {
        margin-bottom: 20px;
    }

    /* HOME PAGE - SECTION4 */
    .section4 {
        padding: 64px 57px;
        gap: 28px;
    }

    .s4itemremove {
        display: none;
    }

    .viewmore {
        margin-top: 20px;
    }

    .s4div {
        display: flex;
        gap: 20px;
    }

    h4 {
        font-size: 32px;
    }

    /* HOME PAGE - SECTION5 */
    .section5 {
        padding: 45px 51px;
    }

    .mailinput {
        height: 48px;
        width: 246px;
    }

    .submitbutton {
        height: 48px;
        width: 100px;
    }

    h5 {
        margin-bottom: 24px;
        width: 379px;
        font-size: 32px;
    }

    /* HOME PAGE - SECTION6 */
    .section6 {
        padding: 64px 20px;
    }

    .question {
        margin-top: 28px;
        margin-bottom: 13px;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
        align-items: center;
    }

    .hide-text {
        display: none;
    }

    .page1contactdiv {
        flex-direction: row;
    }

    .helpdiv {
        text-align: center;
    }

    .socialicons {
        gap: 27px;
    }

    .footerlogo {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    /* ARTOWORKS - SECTION1PAGE2 */
    .section1page2 {
        background-image: url(..//images/Rectangle\ 110.png);
        height: 320px;
    }

    /* ARTOWORKS - SECTION2PAGE2 */
    .section2page2 {
        padding: 65px 57px;
    }

    .searchinput {
        width: 206px;
    }

    .searchbutton {
        width: 160px;
    }

    .searchdiv {
        flex-direction: column;
        align-items: flex-start;
    }

    .arrowdiv {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }

    .categorydiv {
        gap: 81px;
    }

    .allcategory {
        font-size: 32px;
        width: 187px;
    }

    .imgresponsive {
        width: 366px;
    }

    .sortdiv {
        gap: 20px;
    }


    /* CONTACT - SECTION2PAGE3 */
    .section1page3 {
        background-image: url(..//images/Rectangle\ 1111.png);
        padding: 128px 20px;
        height: 560px;
    }

    .page3form {
        width: 440px;
        height: 400px;
        padding: 24px 20px;
        gap: 36px;
    }

    .nameinput {
        width: 160px;
    }

    .emailinput {
        width: 160px;
    }

    .textareainput {
        width: 400px;
        height: auto;
    }

    .section2page3 {
        padding: 64px 20px;
    }

    iframe {
        height: 320px;
    }

    .contactdiv {
        padding-left: 30px;
        padding-bottom: 24px;
    }

    /* HAMBURGERMENU */
    .hamburgermenu-ul {
        padding: 25px 60px;
    }
}

/* PHONE 320px */
@media (max-width: 470px) {

    /* HEADER */
    .cartdiv {
        flex-direction: column-reverse;
        gap: 0px;
    }

    header {
        padding: 8px 10px 8px 15px;
    }

    /* HOME PAGE - SECTION1 */
    .section1 {
        padding: 120px 10px 30px 10px;
    }

    h2 {
        width: 100%;
        font-size: 24px;
        text-align: center;
    }

    .s3img {
        width: 290px;
        height: 240px;
        object-fit: cover;
    }

    /* HOME PAGE - SECTION2 */
    .section2 img {
        width: 180px;
        height: 140px;
    }

    h5 {
        margin-bottom: 24px;
        width: 300px;
        font-size: 25px;
    }

    /* HOME PAGE - SECTION5 */
    .mailinput {
        height: 48px;
        width: 170px;
    }

    .submitbutton {
        height: 48px;
        width: 70px;
        color: black;
    }

    .inputmail {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ARTWORKS - SECTION2PAGE2 */
    .searchinput {
        width: 170px;
    }

    .searchbutton {
        width: 90px;
    }

    .searchdiv {
        flex-direction: column;
        align-items: flex-start;
    }

    .arrowdiv {
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
    }

    .categorydiv {
        gap: 30px;
    }

    .sortdiv {
        gap: 10px;
    }

    .cards {
        gap: 44px;
    }

    .pagenumbers {
        width: 290px;
    }

    .page-number {
        height: 25px;
    }

    .imgresponsive {
        width: 290px;
    }

    .allcategory {
        font-size: 32px;
    }

    .h2artworks {
        width: 300px;
    }

    /* CONTACT - SECTION2PAGE3 */
    .section1page3 {
        background-image: url(..//images/Rectangle\ 1111.png);
        padding: 128px 0px;
        height: 560px;
        display: flex;
        justify-content: center;
    }

    .page3form {
        width: 90%;
        height: 400px;
        padding: 24px 20px;
        align-items: center;
        gap: 30px;
    }

    .nameinput {
        width: 120px;
        margin-right: 20px;
    }

    .emailinput {
        width: 120px;
    }

    .textareainput {
        width: 260px;
    }

    .page3button {
        align-items: center;
    }

    .section2page3 {
        padding: 64px 10px;
    }

    iframe {
        height: 320px;
    }

    .contactdiv {
        text-align: center;
        padding-left: 0px;
        padding-bottom: 14px;
    }

    /* HAMBURGERMENU */
    .hamburgermenu-ul {
        padding: 25px 60px;
    }
}